<!doctype html>
<html ng-app="clientApp">
<head>
    <title>iSlides</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/libs/Font-Awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">
    <ng-view></ng-view>
</div>
</body>
<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/angular.js"></script>
<script src="/js/libs/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller/logincontroller.js"></script>
</html>