<!doctype html>
<html ng-app="iSlidesApp">
<head>
    <title>iSlides</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/libs/stylesheet.css">
    <link rel="stylesheet" href="/css/libs/xeditable.css">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container-fluid">
    <ng-view></ng-view>
</div>
</body>
<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/jquery.cloudinary.js"></script>
<script src="/js/libs/angular-file-upload-shim.js"></script>
<script src="/js/libs/angular.js"></script>
<script src="/js/libs/angular-route.js"></script>
<script src="/js/libs/angular-resource.js"></script>
<script src="/js/libs/angular.cloudinary.js"></script>
<script src="/js/libs/angular-file-upload.js"></script>
<script src="/js/libs/angular-dnd.js"></script>
<script src="/js/libs/ngContextMenu.js"></script>
<script src="/js/libs/xeditable.min.js"></script>
<script src="/js/iSlidesApp.module.js"></script>
<script src="/js/iSlidesApp.routes.js"></script>
<script src="/js/config.js"></script>
<script src="/js/services/login.service.js"></script>
<script src="/js/services/signup.service.js"></script>
<script src="/js/controller/login.controller.js"></script>
<script src="/js/controller/signup.controller.js"></script>
<script src="/js/services/home.service.js"></script>
<script src="/js/controller/home.controller.js"></script>
<script src="/js/services/presentation.service.js"></script>
<script src="/js/controller/presentation.controller.js"></script>
<script src="/js/controller/slide.controller.js"></script>
<script src="/js/controller/photoUpload.controller.js"></script>
<script src="/js/controller/messages.controller.js"></script>
<script src="/js/controller/drag.controller.js"></script>
<script src="/js/services/attrs.service.js"></script>
<script src="/js/controller/attrs.controller.js"></script>
<script src="/js/directives/addFigures.directive.js"></script>
<script src="/js/directives/uploadImage.directive.js"></script>
<script src="/js/directives/uploadVideo.directive.js"></script>
<script src="/js/directives/addText.directive.js"></script>
<script src="/js/directives/slideItems.directive.js"></script>
<script src="/js/directives/backgroundColor.directive.js"></script>
<script src="/js/directives/slidePreview.directive.js"></script>
<script src="/js/directives/clickoutside.directive.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
</html>