<!doctype html>
<html ng-app="iSlidesApp">
<head>
    <title>iSlides</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/libs/stylesheet.css">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container-fluid">
    <ng-view></ng-view>
</div>
</body>
<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/jquery.cloudinary.js"></script>
<script src="/js/libs/angular-file-upload-shim.js"></script>
<script src="/js/libs/angular.js"></script>
<script src="/js/libs/angular-route.js"></script>
<script src="/js/libs/angular-resource.js"></script>
<script src="/js/libs/angular.cloudinary.js"></script>
<script src="/js/libs/angular-file-upload.js"></script>
<script src="/js/libs/angular-dnd.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/services/LoginService.js"></script>
<script src="/js/services/SignupService.js"></script>
<script src="/js/controller/LoginCtrl.js"></script>
<script src="/js/controller/SignupCtrl.js"></script>
<script src="/js/services/HomeService.js"></script>
<script src="/js/controller/HomeCtrl.js"></script>
<script src="/js/services/PresentationService.js"></script>
<script src="/js/controller/PresentationCtrl.js"></script>
<!--<script src="/js/controller/DragCtrl.js"></script>-->
<script src="/js/controller/SlideCtrl.js"></script>
<script src="/js/controller/PhotoUploadCtrl.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<!--<script src="/js/countOfWatchers.js"></script>-->
</html>