#logout {
    margin-top: 6px;
}

#home {
    padding: 50px 0 20px;
}

.slide {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    background-color: yellow;
    z-index: -10;
}

.tools {
    width: auto;
    height: 100px;
    border: solid gray 1px;
}

.tools li{
    float: left;
    margin: 5px 10px;
}

.handle {
    cursor: pointer;
}

.slideTools{
    position: absolute;
    margin: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
}

.circle {
    background-color: #255625;
    border: solid 4px brown;
    border-radius: 50%;
}

.rectangle {
    background-color: #255625;
    /*z-index: 1;*/
}

.video {
    border: solid 1px red;
}