#logout {
    margin-top: 6px;
}

#home {
    padding-top: 50px;
    padding-bottom: 20px;
}

.slide {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    background-color: gainsboro;
    z-index: -10;
}

.tools {
    width: auto;
    height: 100px;
    background-color: gray;
    position: relative;
}

.tools li{
    display: inline-block;
    margin: 5px 10px;
    z-index: 1;
}

.circle {
    width: 90px;
    height: 90px;
    background-color: #255625;
    border: solid 4px brown;
    border-radius: 50%;
    vertical-align: middle;
}

.rectangle {
    width: 90px;
    height: 90px;
    background-color: #255625;
    vertical-align: middle;
    z-index: 1;
}

.handle {
    cursor: pointer;
}