<ul>
    <li>
        <select name="font.name" class="form-control" ng-model="font.name">
            <option ng-repeat="name in font.names" value="{{name}}">{{name}}</option>
        </select>
    </li>
    <li>
        <select name="font.color" class="form-control" ng-model="font.size">
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="24">24</option>
        </select>
    </li>
    <li ng-click="addText(font.name, font.size)" class="btn btn-success">Add</li>
</ul>

