
<button class="btn btn-success upload-video" data-toggle="modal" data-target="#colorModal">
    Bg-Color
</button>

<!-- Modal -->
<div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Choose background color</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="colorwheel center-block" ng-colorwheel="{ size: 150, segments: 120 }" ng-model="color"> </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="changeBackgroundColor(color)" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>