<ul class="list-group" dnd-container>
    <li class="list-group-item" dnd-sortable ng-repeat="slide in slides track by $index">
        <div ng-click="changeSlide($index)"
             class="slide" ng-class="aspectRatio == '4x3' ? 'slidePreview4x3' : 'slidePreview16x9'"
             style="{{'background:' + slidebg.color}}">
            <div ng-repeat="tool in slide track by $index"
                 ng-class="tool.name"
                 ng-controller="AttrsController"
                 class="slideTools"
                 style = "{{tool.style || 'background: ' + tool.color + ';'}}"
                 dnd-rect = "dnd.rect">

                <div ng-if="tool.name === 'text'" editable-text="text"
                     style="{{'font-size:' + tool.size + 'px; font-family:' + tool.font +';'}}">
                    <p>{{ text || 'empty' }}</p>
                </div>
                <iframe ng-if="tool.name == 'video'"
                        width="{{dnd.rect.width}}" height="{{dnd.rect.height}}"
                        ng-src="{{videoUrlConversion(tool.url)}}"
                        frameborder="1"
                        allowfullscreen>
                </iframe >
                <img ng-if="tool.name == 'image'" height="100%" width="100%" ng-src="{{tool.url}}" ng-class="slideImage"/>

            </div>
        </div>
        <div class="btn btn-danger" ng-click="deleteSlide($index)">Delete</div>
        <div class="btn btn-danger" ng-click="deleteSlide($index)">Delete</div>
    </li>
    <li class="list-group-item" ng-click="addSlide()">
        <div class="btn btn-warning">Add new slide</div>
    </li>
</ul>