<div class="slide" dnd-model = "dropmodel" dnd-container dnd-droppable = "true" style="{{'background:' + slidebg.color}}">
    <div ng-class="tool.name"
         ng-controller="AttrsController"
         class="slideTools"
         style = "{{tool.style || 'background: ' + tool.color + ';'}}"
         ng-repeat="tool in slides[selectedSlide] track by $index"
         dnd-draggable="true"
         dnd-resizable="true"
         dnd-rotatable="true"
         dnd-containment="slide"
         dnd-rect = "dnd.rect"
         data-context-event="contextmenu"
         data-context-menu="/partials/context-menu.html"
         ng-click="getStyle($index)">

        <div ng-if="tool.name === 'text'" editable-text="text"
             style="{{'font-size:' + tool.size + 'px; font-family:' + tool.font +';'}}">
            <p>{{ text || 'empty' }}</p>
        </div>
        <iframe ng-if="tool.name == 'video'"
                width="{{dnd.rect.width}}" height="{{dnd.rect.height}}"
                ng-src="{{tool.url}}"
                frameborder="1"
                allowfullscreen>
        </iframe >
        <img ng-if="tool.name == 'image'" height="100%" width="100%" ng-src="{{tool.url}}" ng-class="slideImage"/>

    </div>
</div>