<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/profile">iSlides</a>
            </div>
            <div class="row navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/profile">Home</a></li>
                    <li ><a href="#/create">Create new presentation</a></li>
                </ul>
                <div class="navbar-right">
                    <a href="#/profile" class="navbar-brand">Hello, {{user.username}}</a>
                    <button ng-click="logout()" class="btn btn-success btn-right" id="logout">Log out</button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid" id="home" ng-class="{'list' : layoutMode == 0}">
    <h1>Home</h1>
    <div class="btn btn-success" ng-click="loadPresentation(user.username)">fdjf</div>
    <div class="btn btn-success" ng-click="toggle()">show</div>
    <div class="btn btn-success" ng-click="show()">show</div>
    <div class="btn btn-success" ng-click="cleanList()">cleanList</div>
    <p ng-if="presentations.length === 0 || !presentations">No presentations were added yet.</p>
    <div class="row" ng-repeat="item in list track by $index" ng-show="isShow" ng-class="animation">
        <div class="col-md-4">
            <h2>name: {{item.presentation_name}}</h2>
            <h4>presid: {{item.presid}}</h4>
            <h4>id: {{presentation.id}}</h4>
            <h4>AspectRatio: {{presentation.presentation_aspectratio}}</h4>
            <p><a class="btn btn-danger" role="button" ng-click="deletePresentation(presentation.id)">Delete</a></p>
            <p>
                <a class="btn btn-default" href="#/presentation/edit/{{presentation.presid}}" role="button">
                    {{presentation.presentation_tags}} &raquo;
                </a>
            </p>
        </div>
    </div>
</div>