<nav class="navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/profile">iSlides</a>
            </div>
            <div class="row navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/profile">Home</a></li>
                    <li><a href="#/create">Create new presentation</a></li>
                    <li><a ng-click="presentation()">Current</a></li>
                </ul>
                <div class="navbar-right">
                    <a href="#/profile" class="navbar-brand">Hello, {{user.username}}</a>
                    <button ng-click="logout()" class="btn btn-success btn-right" id="logout">Log out</button>
                </div>
            </div>
        </div>
</nav>

<div class="container-fluid" id="home" >
    <div class="row tools clearfix" >
        <div class="col-lg-4 col-md-4">
            <ul>
                <li ng-click="addToSlide(tool)" ng-repeat="tool in tools" class="btn btn-info">{{tool}}</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6">

        </div>
        <div class="col-lg-2 col-md-2" ng-controller="PhotoUploadCtrl">
            <form>
                <div class="form_line">
                    <div class="btn btn-success" ng-file-select ng-multiple="true" title="upload" resetOnClick="true" ng-model="files">Upload Image</div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/img/slide.jpg" alt="slide"/>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-8">
                <div class="slide"
                     dnd-model = "dropmodel"
                     dnd-container
                     dnd-droppable = "true">
                    <div ng-class="tool"
                         class="slideTools"
                         style = "position: absolute; top: 0;left: 270px;"
                         ng-repeat="tool in slideTools track by $index"
                         dnd-draggable="true"
                         dnd-resizable="true"
                         dnd-rotatable="true"
                         dnd-containment="slide">
                        <textarea type="{{tool}}" ng-if="tool === 'text'"/>
                        <iframe dnd-draggable="true"
                                dnd-resizable="true"
                                dnd-rotatable="true"
                                dnd-containment="slide"
                                ng-if="tool.name == 'Video'"
                                width="560" height="315"
                                ng-src="{{tool.url}}"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                        <cl-image public-id="{{tool.url}}"
                                  ng-if="tool.name == 'image'"
                                  ng-class="slideImage"
                                  height="100"
                                  crop="fit" quality="80" format="jpg"/>
                    </div>
                </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="slider clearfix" ng-controller="PhotoUploadCtrl">
                <!--ng-repeat="photo in photos"-->
                <p ng-if="photos.length === 0 || !photos">No photos were added yet.</p>
                <div class="slide-item" ng-repeat="photo in photos" ng-hide="delete">
                    <!--<img src="/img/slide.jpg" class="image" alt="slide"/>-->
                    <div>
                        <cl-image public-id="{{photo.public_id}}" class="image"  height="100" crop="fit" quality="80" format="jpg"/>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-success" ng-click="addImage(photo.public_id)">Add </a>
                        <a class="btn btn-danger"  ng-click="delete=true">Delete</a>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>