<div class="container-fluid">
<div class="row ">
    <div class="col-md-1">
        <button class="btn btn-success" ng-click="previousSlide()">Previous</button>
        <button  ng-click="goFullscreen()">Enable Fullscreen</button>
    </div>
    <div class="col-md-10 show">
    <div class="center"
         ng-repeat="slide in slides track by $index" ng-show="$index === selectedSlide"
         ng-class="[aspectRatio == '4x3' ? 'slide4x3' : 'slide16x9',slideAnimation[$index] == undefined ? 'toggle' : slideAnimation[$index]]"
            >
        {{slideAnimation[$index]}}
        <div
             class="slide" ng-class="aspectRatio == '4x3' ? 'slide4x3' : 'slide16x9'"
             style="{{'background:' + slidebg.color}}">
            <div ng-repeat="tool in slide"
                 ng-class="tool.name"
                 class="slideTools "
                 style = "{{tool.style || 'background: ' + tool.color + ';'}}"
                 >

                <div ng-if="tool.name === 'text'" editable-text="text"
                     style="{{'font-size:' + tool.size + 'px; font-family:' + tool.font +';'}}">
                    <p>{{tool.value = text || 'empty'}}</p>
                </div>
                <iframe ng-if="tool.name == 'video'"
                        width="{{dnd.rect.width}}" height="{{dnd.rect.height}}"
                        ng-src="{{videoUrlConversion(tool.url)}}"
                        frameborder="1"
                        allowfullscreen>
                </iframe>
                <img ng-if="tool.name == 'image'" height="100%" width="100%" ng-src="{{tool.url}}"/>
            </div>

        </div>
    </div>
    </div>
    <div class="col-md-1"><button class="btn btn-success" ng-click="nextSlide()">Next</button></div>
</div >
 </div>
